@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Segoe UI, Helvetica, sans-serif;
  font-weight: 300;
}

.bg-dark {
  background-color: var(--background);
  color: var(--foreground);
}
.bg-lite {
  background-color: var(--foreground);
  color: var(--background);
}
nav a {
  font-size: 0.8rem;
}

/* category-filter */
.category-filter {
}
.category-filter > .category {
  height: 100px;
  width: 150px;
  border: 1px solid #ffffff8e;
}

/* sticky navbar */
.custom-sticky {
  position: absolute;
  z-index: 1222;
  width: 100%;
  top: 0px;
  margin-top: 0px;
  background: #000000;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(0 0 0 / 52%) 66%,
    rgb(0 0 0 / 0%) 100%
  );
}
